<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovers.common.mapper.UserFriendMapper">
  <resultMap id="BaseResultMap" type="com.lovers.common.domain.UserFriend">
    <id column="user_friend_id" jdbcType="INTEGER" property="userFriendId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="friend_id" jdbcType="INTEGER" property="friendId" />
    <result column="friend_name" jdbcType="VARCHAR" property="friendName" />
  </resultMap>

</mapper>